# Google AI
export GEMINI_API_KEY=MISSING
export GOOGLE_GENERATIVE_AI_API_KEY=$GEMINI_API_KEY

# opencode
## One would be tempted to set OPENCODE_SERVER_USERNAME too but `opencode attach` doesn't seem to support that (yet)
export OPENCODE_SERVER_PASSWORD=MISSING
## Enables the websearch tool. See https://opencode.ai/docs/tools/#websearch
export OPENCODE_ENABLE_EXA=1
