# Google AI
export GEMINI_API_KEY=MISSING
export GOOGLE_GENERATIVE_AI_API_KEY=$GEMINI_API_KEY

# OMLX
export OMLX_API_KEY=MISSING

# llama.cpp
export LLAMA_API_KEY=MISSING

# mtplx
export MTPLX_API_KEY=MISSING

# manifest LLM router
export MANIFEST_API_KEY=MISSING

# slashwhy registry
export GITLAB_SSCOSLOCAL_PAT=MISSING
