#!/usr/bin/env bash
export EDITOR='vim'

# Increase Bash history size, default is 500
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# No macos "use zsh" warning
export BASH_SILENCE_DEPRECATION_WARNING=1

# Enables the websearch tool in opencode. See https://opencode.ai/docs/tools/#websearch
export OPENCODE_ENABLE_EXA=1

## Configures homebrew
# Make brew less verbose about potential env vars
export HOMEBREW_NO_ENV_HINTS=1

# Check Homebrew’s API for new formulae or cask data
export HOMEBREW_API_AUTO_UPDATE_SECS=86400 # 24h

# Cleanup all cached files older than this many days
export HOMEBREW_CLEANUP_MAX_AGE_DAYS=30

# If set, some brew commands will cleanup all formulae when this number of days has passed
export HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS=30

# Space-separated list of casks. Homebrew will refuse to install a cask if it or any of its dependencies is on this list
export HOMEBREW_FORBIDDEN_CASKS=

# Space-separated list of formulae. Homebrew will refuse to install a formula or cask if it or any of its dependencies is on this list
export HOMEBREW_FORBIDDEN_FORMULAE=node

# Ollama, OMLX and llama.cpp
MODELS_BASE=$(realpath ~)/ai/models
CURRENTHOST=0.0.0.0

export OLLAMA_PORT=11434
export OLLAMA_HOST="$CURRENTHOST:$OLLAMA_PORT"
export OLLAMA_MODELS=$MODELS_BASE/ollama

export OMLX_PORT=$((OLLAMA_PORT + 1))
export OMLX_MODEL_DIR=$MODELS_BASE/omlx

export LLAMA_ARG_PORT=$((OLLAMA_PORT + 2))
export LLAMA_ARG_HOST=$CURRENTHOST

# Huggingface
export HF_HOME=~/ai/huggingface
export HF_HUB_CACHE=$HF_HOME/cache
export HF_XET_HIGH_PERFORMANCE=1

# Go
export GOPATH=~/.go

# Disable some analytics
export DO_NOT_TRACK=1
export HOMEBREW_NO_ANALYTICS=1
export FASTLANE_OPT_OUT_USAGE=1
export DOTNET_CLI_TELEMETRY_OPTOUT=1
export NUKE_TELEMETRY_OPTOUT=1
export VCPKG_DISABLE_METRICS=1
export HF_HUB_DISABLE_TELEMETRY=1
