[user]
	name = Martin Kuckert
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/private/"]
  path = ~/.gitconfig-private
[core]
	autocrlf = input
	# Use custom `.gitignore` and `.gitattributes`.
	excludesfile = ~/.gitignore
	# Use filesystem monitor to speed status commands up
	fsmonitor = true
	# Cache untracked changes
	untrackedCache = true
[init]
	defaultBranch = main
[apply]
	# Detect whitespace errors when applying a patch.
	whitespace = fix
[branch]
	# Show most recently changed branches first.
	sort = -committerdate
[commit]
	gpgsign = true
[gpg]
  format = ssh
[gpg.ssh]
  allowedSignersFile = ~/.ssh/allowed_signers
[merge]
	tool = opendiff
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[mergetool]
	prompt = false
	keepbackup = false
[diff]
	# Detect copies as well as renames.
	renames = copies
[difftool]
	prompt = false
[pull]
	rebase = false
[push]
  # Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true
[help]
  # Automatically correct and execute mistyped commands.
  autocorrect = 1
