[submodule "docker/sandbox"]
	path = docker/sandbox
	url = git@github.com:MKuckert/sbx-here.git
[submodule "background-run"]
	path = background-run
	url = git@github.com:MKuckert/backgrounded.git
[submodule "models"]
	path = models
	url = git@github.com:MKuckert/models.git
[submodule "agent-harness"]
	path = agent-harness
	url = git@github.com:MKuckert/agent-harness.git
